@charset "UTF-8";
/*Regra @charset caso haja problema com acentuação */
body {
    background-color: rgb(116, 106, 55);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1 {
    color: darkgoldenrod;

}
h2 {
    color: darkgoldenrod;
} 
p {
    text-align: justify;
}